.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ffffff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* src/index.css o src/App.css */

/* Asegurarse de que la barra de desplazamiento esté oculta */
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

/* Centrar los pasos en móviles */
.centered-steps {
  display: flex;
  position: relative;
}

/* Añadir espacio a los lados en móviles para centrar los pasos */
@media (max-width: 767px) { /* Antes de md (768px) */
  .centered-steps::before,
  .centered-steps::after {
    content: '';
    flex: 0 0 calc((100% - 72px - 4px) / 2); /* (ancho de la pantalla - ancho total de los pasos - espaciado) / 2 */
    min-width: 0;
  }
}

/* Ajustar el espacio en pantallas sm (640px) */
@media (min-width: 640px) and (max-width: 767px) {
  .centered-steps::before,
  .centered-steps::after {
    flex: 0 0 calc((100% - 84px - 4px) / 2); /* (ancho de la pantalla - ancho total de los pasos - espaciado) / 2 */
  }
}